* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f6;
  font-family: Source Sans Pro , sans-serif;
}

.Filters {
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-top: 20px;
}

.Filter-btn-meal {
  background: url('../images/icons8-jantar-50.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Filter-btn-drink {
  background: url('../images/icons8-drinks-64.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Filter-btn-all {
  background: url('../images/icons8-breakfast-64.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Card-Done {
  margin-left: 25px;
  margin-top: 50px;
  position: absolute;
}

legend {
  text-align: center;
}

.Recipe-Name {
  margin-top: 70px;
}

.share-btn {
  height: 50px;
  margin: 10px auto;
  width: 50px;
}

.share-btn button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 100%;
  padding: 10px;
}

.share-btn button img {
  width: 25px;
}

link {
  color: rgb(12, 12, 12);
  text-decoration: none;
}

.size-Image {
  height: 275px;
  width: 300px;
}

.done .gradient .name__recipe {
  bottom: 75px;
  color: var(--red);
  font-size: 25px;
  font-weight: 700;
  left: 10px;
  position: absolute;
}

.done .gradient .category__recipe {
  bottom: 55px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  left: 10px;
  position: absolute;
}

.done .gradient .date__recipe {
  bottom: 32px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  left: 10px;
  position: absolute;
}

.done .gradient .tag__recipe {
  bottom: 15px;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  left: 10px;
  position: absolute;
}
