* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f5f5f6;
  font-family: Source Sans Pro , sans-serif;
}

.Filters-Favorites {
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-top: 20px;
}

.Filter-meal {
  background: url('../images/icons8-jantar-50.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Filter-drink {
  background: url('../images/icons8-drinks-64.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Filter-all {
  background: url('../images/icons8-breakfast-64.png') no-repeat;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  height: 60px;
  width: 60px;
}

.Card-Favorite {
  margin-left: 25px;
  margin-top: 50px;
  position: absolute;
}

legend {
  text-align: center;
}

.Recipe-Name {
  margin-top: 70px;
}

.favorite-btn {
  border-radius: 50%;
  height: 50px;
  margin-left: 125px;
  margin-top: 45px;
  width: 50px;
}

.textContent {
  border-color: solid red;
  bottom: 40px;
  position: relative;
}

.fav-image {
  height: 275px;
  width: 300px;
}

.share-btn {
  height: 40px;
  margin-top: 0;
  width: 40px;
}

link {
  text-decoration: none;
}
