.footer-menu {
  background-color: white;
  border-radius: 50px;
  bottom: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 45px;
  justify-content: space-around;
  left: 0;
  margin-left: 10px;
  padding: 10px;
  position: fixed;
  width: 107px;
}

.footer-btn {
  height: 25px;
  width: 25px;
}
