:root {

  --red: rgb(253, 46, 0);

  --white: rgb(245, 245, 246);
}

body {
  background-color: var(--white);
}


.header {
  align-items: center;
  background-color: var(--white);
  color: var(--red);
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  line-height: 40px;
  padding: 8px 30px;
}

.header .profile__icon, .header .search__icon {
  height: 25px;
}

.title {
  text-align: center;
}
