:root {

  --red: rgb(253, 46, 0);

  --white: rgb(245, 245, 246);
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

.loadingScreen {
  align-items: center;
  color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.loader {
  animation: is-rotating 1s infinite;
  border: 6px solid var(--white);
  border-radius: 100%;
  border-top-color: var(--red);
  height: 50px;
  margin: 20px;
  width: 50px;
}
