.profile-container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bebebe , -20px -20px 60px white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 40%;
  padding: 30px;
  width: 100%;
}

.profile-email {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  width: 200px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
