.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.live__scroll {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  position: relative;
  white-space: nowrap;
}

.live__scroll .row {
  display: block;
}

.live__scroll .live__scroll--box {
  display: inline-block;
  float: none;
  padding: 15px;
}

.recomended_img {
  height: 135px;
  width: 163px;
}

.recomended_recipe_title {
  color: #1a1b1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 21px;
  line-height: 20px;
  width: 205px;
}

.recipe-img {
  height: 161.85px;
  width: 362.01px;
}

.recipe-main-title {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 42px;
  letter-spacing: 0.105em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 147px;
}

